.navbar-itme {
  font-family: serif;
}

.main {
  width: 750px;
}

.header_title {
  font-family: cursive;
  color: darkgoldenrod;
}

.header_subtitle {
  font-family: -webkit-pictograph;
  font-weight: bold;
  color: darkkhaki;
  font-size: 1.85rem;
}